<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>move-effect-0.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>62</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>move-effect-1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>9</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>move-effect-2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>174</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>move-effect-3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>255</integer>
			<key>width</key>
			<integer>49</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>move-effect-4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>341</integer>
			<key>width</key>
			<integer>45</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>-5</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>move-effect-5.png</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>move-effect-6.png</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>95</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>42</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>move-effect-7.png</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>112</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>11</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>43.5</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
	</dict>
</dict>
</plist>