<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>gw0.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>500</integer>
			<key>height</key>
			<integer>212</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>212</integer>
		</dict>
		<key>gw1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>214</integer>
			<key>width</key>
			<integer>500</integer>
			<key>height</key>
			<integer>212</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>212</integer>
		</dict>
		<key>gw2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>500</integer>
			<key>height</key>
			<integer>212</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>212</integer>
		</dict>
		<key>gw3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>500</integer>
			<key>height</key>
			<integer>212</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>212</integer>
		</dict>
		<key>gw4.png</key>
		<dict>
			<key>x</key>
			<integer>502</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>500</integer>
			<key>height</key>
			<integer>212</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>212</integer>
		</dict>
		<key>gw5.png</key>
		<dict>
			<key>x</key>
			<integer>502</integer>
			<key>y</key>
			<integer>214</integer>
			<key>width</key>
			<integer>500</integer>
			<key>height</key>
			<integer>212</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>212</integer>
		</dict>
		<key>gw6.png</key>
		<dict>
			<key>x</key>
			<integer>502</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>500</integer>
			<key>height</key>
			<integer>212</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>212</integer>
		</dict>
		<key>gw7.png</key>
		<dict>
			<key>x</key>
			<integer>502</integer>
			<key>y</key>
			<integer>640</integer>
			<key>width</key>
			<integer>500</integer>
			<key>height</key>
			<integer>212</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>212</integer>
		</dict>
		<key>gw8.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>500</integer>
			<key>height</key>
			<integer>212</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>212</integer>
		</dict>
		<key>gw9.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>500</integer>
			<key>height</key>
			<integer>212</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>500</integer>
			<key>originalHeight</key>
			<integer>212</integer>
		</dict>
	</dict>
</dict>
</plist>