<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>fw1.png</key>
		<dict>
			<key>x</key>
			<integer>829</integer>
			<key>y</key>
			<integer>726</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>-77.5</real>
			<key>offsetY</key>
			<real>-105</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw2.png</key>
		<dict>
			<key>x</key>
			<integer>247</integer>
			<key>y</key>
			<integer>241</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>-57.5</real>
			<key>offsetY</key>
			<real>-76.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw3.png</key>
		<dict>
			<key>x</key>
			<integer>941</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>25</integer>
			<key>height</key>
			<integer>22</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>-29.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw4.png</key>
		<dict>
			<key>x</key>
			<integer>802</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>138</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>-56.5</real>
			<key>offsetY</key>
			<real>-66.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw5.png</key>
		<dict>
			<key>x</key>
			<integer>653</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>-52.5</real>
			<key>offsetY</key>
			<real>-40</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw6.png</key>
		<dict>
			<key>x</key>
			<integer>492</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>213</integer>
			<key>offsetX</key>
			<real>-38.5</real>
			<key>offsetY</key>
			<real>-21</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw7.png</key>
		<dict>
			<key>x</key>
			<integer>343</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>183</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>8</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw8.png</key>
		<dict>
			<key>x</key>
			<integer>178</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>233</integer>
			<key>offsetX</key>
			<real>-10.5</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw9.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>239</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>-8</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw10.png</key>
		<dict>
			<key>x</key>
			<integer>639</integer>
			<key>y</key>
			<integer>726</integer>
			<key>width</key>
			<integer>189</integer>
			<key>height</key>
			<integer>223</integer>
			<key>offsetX</key>
			<real>-8</real>
			<key>offsetY</key>
			<real>7</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw11.png</key>
		<dict>
			<key>x</key>
			<integer>436</integer>
			<key>y</key>
			<integer>726</integer>
			<key>width</key>
			<integer>202</integer>
			<key>height</key>
			<integer>231</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>8</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw12.png</key>
		<dict>
			<key>x</key>
			<integer>224</integer>
			<key>y</key>
			<integer>726</integer>
			<key>width</key>
			<integer>211</integer>
			<key>height</key>
			<integer>238</integer>
			<key>offsetX</key>
			<real>-9</real>
			<key>offsetY</key>
			<real>7.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw13.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>726</integer>
			<key>width</key>
			<integer>222</integer>
			<key>height</key>
			<integer>242</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>6.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw14.png</key>
		<dict>
			<key>x</key>
			<integer>718</integer>
			<key>y</key>
			<integer>479</integer>
			<key>width</key>
			<integer>230</integer>
			<key>height</key>
			<integer>244</integer>
			<key>offsetX</key>
			<real>-7.5</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw15.png</key>
		<dict>
			<key>x</key>
			<integer>481</integer>
			<key>y</key>
			<integer>479</integer>
			<key>width</key>
			<integer>236</integer>
			<key>height</key>
			<integer>246</integer>
			<key>offsetX</key>
			<real>-7.5</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw16.png</key>
		<dict>
			<key>x</key>
			<integer>246</integer>
			<key>y</key>
			<integer>479</integer>
			<key>width</key>
			<integer>234</integer>
			<key>height</key>
			<integer>246</integer>
			<key>offsetX</key>
			<real>-10.5</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw17.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>479</integer>
			<key>width</key>
			<integer>244</integer>
			<key>height</key>
			<integer>246</integer>
			<key>offsetX</key>
			<real>-5.5</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw18.png</key>
		<dict>
			<key>x</key>
			<integer>583</integer>
			<key>y</key>
			<integer>241</integer>
			<key>width</key>
			<integer>246</integer>
			<key>height</key>
			<integer>234</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw19.png</key>
		<dict>
			<key>x</key>
			<integer>334</integer>
			<key>y</key>
			<integer>241</integer>
			<key>width</key>
			<integer>248</integer>
			<key>height</key>
			<integer>234</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>fw20.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>241</integer>
			<key>width</key>
			<integer>245</integer>
			<key>height</key>
			<integer>237</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
	</dict>
</dict>
</plist>