<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>1.png</key>
		<dict>
			<key>x</key>
			<integer>971</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>38</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>-77.5</real>
			<key>offsetY</key>
			<real>-105</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>2.png</key>
		<dict>
			<key>x</key>
			<integer>885</integer>
			<key>y</key>
			<integer>120</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>-57.5</real>
			<key>offsetY</key>
			<real>-76.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>3.png</key>
		<dict>
			<key>x</key>
			<integer>971</integer>
			<key>y</key>
			<integer>161</integer>
			<key>width</key>
			<integer>25</integer>
			<key>height</key>
			<integer>22</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>-29.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>4.png</key>
		<dict>
			<key>x</key>
			<integer>885</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>138</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>-56.5</real>
			<key>offsetY</key>
			<real>-66.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>5.png</key>
		<dict>
			<key>x</key>
			<integer>655</integer>
			<key>y</key>
			<integer>689</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>-52.5</real>
			<key>offsetY</key>
			<real>-40</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>6.png</key>
		<dict>
			<key>x</key>
			<integer>655</integer>
			<key>y</key>
			<integer>476</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>213</integer>
			<key>offsetX</key>
			<real>-38.5</real>
			<key>offsetY</key>
			<real>-21</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>7.png</key>
		<dict>
			<key>x</key>
			<integer>815</integer>
			<key>y</key>
			<integer>476</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>183</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>8</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>8.png</key>
		<dict>
			<key>x</key>
			<integer>479</integer>
			<key>y</key>
			<integer>715</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>233</integer>
			<key>offsetX</key>
			<real>-10.5</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>9.png</key>
		<dict>
			<key>x</key>
			<integer>479</integer>
			<key>y</key>
			<integer>476</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>239</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>-8</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>10.png</key>
		<dict>
			<key>x</key>
			<integer>696</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>189</integer>
			<key>height</key>
			<integer>223</integer>
			<key>offsetX</key>
			<real>-8</real>
			<key>offsetY</key>
			<real>7</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>11.png</key>
		<dict>
			<key>x</key>
			<integer>494</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>202</integer>
			<key>height</key>
			<integer>231</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>8</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>12.png</key>
		<dict>
			<key>x</key>
			<integer>701</integer>
			<key>y</key>
			<integer>234</integer>
			<key>width</key>
			<integer>211</integer>
			<key>height</key>
			<integer>238</integer>
			<key>offsetX</key>
			<real>-9</real>
			<key>offsetY</key>
			<real>7.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>13.png</key>
		<dict>
			<key>x</key>
			<integer>479</integer>
			<key>y</key>
			<integer>234</integer>
			<key>width</key>
			<integer>222</integer>
			<key>height</key>
			<integer>242</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>6.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>14.png</key>
		<dict>
			<key>x</key>
			<integer>245</integer>
			<key>y</key>
			<integer>722</integer>
			<key>width</key>
			<integer>230</integer>
			<key>height</key>
			<integer>244</integer>
			<key>offsetX</key>
			<real>-7.5</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>15.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>717</integer>
			<key>width</key>
			<integer>236</integer>
			<key>height</key>
			<integer>246</integer>
			<key>offsetX</key>
			<real>-7.5</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>16.png</key>
		<dict>
			<key>x</key>
			<integer>246</integer>
			<key>y</key>
			<integer>232</integer>
			<key>width</key>
			<integer>234</integer>
			<key>height</key>
			<integer>246</integer>
			<key>offsetX</key>
			<real>-10.5</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>17.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>471</integer>
			<key>width</key>
			<integer>244</integer>
			<key>height</key>
			<integer>246</integer>
			<key>offsetX</key>
			<real>-5.5</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>18.png</key>
		<dict>
			<key>x</key>
			<integer>248</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>246</integer>
			<key>height</key>
			<integer>234</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>19.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>248</integer>
			<key>height</key>
			<integer>234</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>20.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>234</integer>
			<key>width</key>
			<integer>245</integer>
			<key>height</key>
			<integer>237</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
		<key>21.png</key>
		<dict>
			<key>x</key>
			<integer>245</integer>
			<key>y</key>
			<integer>480</integer>
			<key>width</key>
			<integer>234</integer>
			<key>height</key>
			<integer>242</integer>
			<key>offsetX</key>
			<real>-5.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>255</integer>
			<key>originalHeight</key>
			<integer>255</integer>
		</dict>
	</dict>
</dict>
</plist>