<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>1.gif</key>
		<dict>
			<key>x</key>
			<integer>371</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>originalHeight</key>
			<integer>73</integer>
		</dict>
		<key>2.gif</key>
		<dict>
			<key>x</key>
			<integer>297</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>originalHeight</key>
			<integer>73</integer>
		</dict>
		<key>3.gif</key>
		<dict>
			<key>x</key>
			<integer>223</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>originalHeight</key>
			<integer>73</integer>
		</dict>
		<key>4.gif</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>originalHeight</key>
			<integer>73</integer>
		</dict>
		<key>5.gif</key>
		<dict>
			<key>x</key>
			<integer>75</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>originalHeight</key>
			<integer>73</integer>
		</dict>
		<key>6.gif</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>73</integer>
			<key>originalHeight</key>
			<integer>73</integer>
		</dict>
	</dict>
</dict>
</plist>